<h2>Library for language detection</h2>

*`By Fábio Bif Goularte`
(fabio.goularte@gmail.com)*

<h4>Import modules</h4>

In [12]:
import collections
import math
import os
import pandas as pd
import numpy as np

<h4>Detecting the language</h4>

Set the language of the document to detecting (line in[6]) with a code from the table below (column Language code).

| Language | Language code | Language | Language code |
| :--- | :--- | :--- | :--- |
| Afrikaans | af | Italian | it |
| German | de | Japanese | ja |
| English | en | Korean | ko |
| Spanish | es | Portuguese (Brazil) | pt-BR |
| Hindi | hi |  Chinese, Mandarin (Simplified) | zh-Hans |

`Note:` It is possible to check other languages from those listed in the table above. Thus, provide a document in the desired language and run the Training Testing file to create the test document.

In [18]:
#Code of language tested, e.g. 'pt-Br' to Portuguese
languageDoc = 'pt-BR'

#Load the n-gram model selected to test the language document (testing folder)
df_test = pd.read_json('testing/'+languageDoc+'.json', orient='columns')
df_test.columns=['n-gramas','freq_doc']

languages = os.listdir('testing')

#Load the n-grams models used to train the classifier according to the files in testing (training folder)
for langTrain in languages:
    langTrain  = langTrain.split('.')
    df_train   = pd.read_json('training/'+langTrain[0]+'.json', orient='columns')
    df_test    = df_test.merge(df_train,how='left',on='n-gramas')
    print(df_test)

      freq_af n-gramas
0        1686        e
1         795        n
10        371        g
100        19       pe
1000        1      els
1001        1      atv
1002        1      old
1003        1      oen
1004        1      dei
1005        1      svi
1006        1      dhe
1007        1      idw
1008        1      ynv
1009        1      yde
101        19       ne
1010        1      tir
1011        1      vid
1012        1      iei
1013        1      skl
1014        1      uis
1015        1      med
1016        1      ldt
1017        1      e‐o
1018        1      fbu
1019        1      ‐eg
102        19      and
1020        1      onl
1021        1      iko
1022        1      pme
1023        1      ikb
...       ...      ...
972         1      kom
973         1      sed
974         1      syn
975         1      ’nd
976         1      sse
977         1      sra
978         1      amh
979         1      ‐sa
98         19       nt
980         1      wed
981         1      apo
982         1      ude
983         1      mof
984         1      ’nt
985         1      rta
986         1      anl
987         1      ns‐
988         1      ety
989         1      keo
99         19       ek
990         1      esy
991         1      moe
992         1      psp
993         1      sor
994         1      pal
995         1      syb
996         1      inn
997         1      kth
998         1      rga
999         1      ids

[1366 rows x 2 columns]
      freq_de n-gramas
0        1751        e
1        1067        n
10        410        l
100        21       uf
1000        1      ewä
1001        1      hlt
1002        1      evö
1003        1      rmi
1004        1      fgl
1005        1      zuö
1006        1      edl
1007        1      lem
1008        1       av
1009        1      fan
101        21      gen
1010        1      lth
1011        1      erc
1012        1      eke
1013        1      gsf
1014        1      gsä
1015        1      ßtd
1016        1      nme
1017        1      inu
1018        1      anz
1019        1      uhä
102        21      rec
1020        1      ßen
1021        1      höc
1022        1      hst
1023        1      fgr
...       ...      ...
972         1      dst
973         1      owo
974         1      ina
975         1      lig
976         1      lsa
977         1      ftm
978         1      umi
979         1      ntu
98         22       eg
980         1      msb
981         1      ubt
982         1      enm
983         1      dre
984         1      usü
985         1      bun
986         1      ggo
987         1      ear
988         1      reb
989         1      esm
99         21      ech
990         1      usc
991         1      lke
992         1      gez
993         1      wun
994         1       pö
995         1      esl
996         1      nmi
997         1      dku
998         1      lba
999         1      hfr

[1533 rows x 2 columns]
      freq_en n-gramas
0        1078        e
1         803        t
10        324        d
100        20      tio
1000        1      sio
1001        1      sib
1002        1      ene
1003        1      lya
1004        1      vai
1005        1      hip
1006        1      amo
1007        1      atl
1008        1      bef
1009        1      ild
101        19       ni
1010        1      rbo
1011        1      beg
1012        1      kin
1013        1      pri
1014        1      vea
1015        1      fpe
1016        1      mai
1017        1      ies
1018        1      rni
1019        1      edl
102        19      ent
1020        1      ert
1021        1      lfu
1022        1      psa
1023        1      ock
...       ...      ...
972         1      fic
973         1      plo
974         1      gfr
975         1      yme
976         1      sul
977         1      nts
978         1      ndm
979         1      eci
98         20       rs
980         1      ist
981         1      anc
982         1      hni
983         1      rie
984         1      ole
985         1      ang
986         1      yed
987         1      bec
988         1      orh
989         1      omp
99         20       fr
990         1      gth
991         1      uls
992         1      hef
993         1      fme
994         1      irc
995         1      cal
996         1      bas
997         1      oal
998         1      let
999         1      fes

[1503 rows x 2 columns]
      freq_es n-gramas
0        1301        e
1        1083        a
10        474        t
100        24       pe
1000        1      ava
1001        1      eél
1002        1      ard
1003        1      yap
1004        1      ogr
1005        1      ntí
1006        1      sbe
1007        1      nef
1008        1      osq
1009        1      ued
101        24      ent
1010        1      smo
1011        1      anp
1012        1      cor
1013        1      sci
1014        1      ífi
1015        1      deq
1016        1      eaa
1017        1      uto
1018        1      aqu
1019        1      ezc
102        23       at
1020        1      goz
1021        1      omu
1022        1      dac
1023        1      mar
...       ...      ...
972         1      ced
973         1      oeq
974         1      uiv
975         1      gar
976         1      ice
977         1      see
978         1      úbl
979         1      rau
98         25       su
980         1      sed
981         1      fir
982         1      oap
983         1      lgo
984         1      rno
985         1      ísd
986         1      ire
987         1      cta
988         1      cog
989         1      nee
99         24      rec
990         1      hod
991         1      eac
992         1      eig
993         1      spú
994         1      ísl
995         1       ii
996         1      sna
997         1      esl
998         1      uté
999         1      esn

[1502 rows x 2 columns]
      freq_hi n-gramas
0         875        ा
1         744        ्
10        275        व
100        20       च्
1000        2       तम
1001        2      किव
1002        2      कीर
1003        2      ाजन
1004        2       बद
1005        2      ैति
1006        2       णल
1007        2       हस
1008        2      थित
1009        2       ोश
101        20      मान
1010        2      भेद
1011        2      ंसे
1012        2      सदस
1013        2       २क
1014        2      काव
1015        2       मज़
1016        2       तअ
1017        2       ंल
1018        2       दण
1019        2      िचा
102        20        घ
1020        2       जक
1021        2      रकि
1022        2       िप
1023        2       रग
...       ...      ...
972         2       छा
973         2       बस
974         2       शय
975         2       हद
976         2      ृष्
977         2       रआ
978         2       िऔ
979         2       ोय
98         21       ाह
980         2       ीज
981         2      पाठ
982         2      ापू
983         2       कज
984         2      इसक
985         2      या।
986         2       ोऐ
987         2       धह
988         2       ेआ
989         2       िख
99         21       सा
990         2       ोउ
991         2       ेष
992         2      िशे
993         2       कभ
994         2       कप
995         2      रचा
996         2       नर
997         2      णाक
998         2      ेंऔ
999         2       धो

[2342 rows x 2 columns]
      freq_it n-gramas
0        1439        i
1        1222        e
10        348        u
100        26       uo
1000        1      zar
1001        1      zoe
1002        1      mez
1003        1      soo
1004        1      noi
1005        1      rin
1006        1       àp
1007        1      cip
1008        1       uf
1009        1      ull
101        26       lo
1010        1      ffo
1011        1      cev
1012        1       èp
1013        1      ila
1014        1      lli
1015        1      àar
1016        1      vef
1017        1      rir
1018        1      ofu
1019        1      elm
102        25       ea
1020        1      tin
1021        1      bin
1022        1      bam
1023        1      rad
...       ...      ...
972         1      mig
973         1      ier
974         1      afa
975         1      gil
976         1      tur
977         1      ifu
978         1      ens
979         1      erv
98         26       oc
980         1       hé
981         1       àh
982         1      aop
983         1      ipa
984         1      tec
985         1      iaz
986         1      cra
987         1      'as
988         1       lg
989         1      uòe
99         26      lla
990         1      nop
991         1      fic
992         1       gh
993         1      àno
994         1      riu
995         1      ron
996         1      oaf
997         1      npo
998         1      ard
999         1      igu

[1417 rows x 2 columns]
      freq_ja n-gramas
0         199        、
1         189        の
10         70        人
100        10        基
1000        1      て与え
1001        1      とを決
1002        1      向上と
1003        1      人も、
1004        1      ９条何
1005        1      つ、一
1006        1      な救済
1007        1      、又は
1008        1      な自由
1009        1      効果的
101         9      ること
1010        1      のうち
1011        1      で社会
1012        1      裁判所
1013        1      る国内
1014        1      、権限
1015        1      的進歩
1016        1      と生活
1017        1      水準の
1018        1      侵害す
1019        1      動しな
102         9        き
1020        1      別をそ
1021        1      管轄上
1022        1      うな差
1023        1      れてお
...       ...      ...
972         1      又は残
973         1      、拷問
974         1      って促
975         1      第５条
976         1      言を公
977         1      は、社
978         1      連総会
979         1      。人間
98         10        際
980         1      しても
981         1      は法律
982         1      治上、
983         1      憲法又
984         1      ８条す
985         1      って行
986         1      、平等
987         1      神をも
988         1      と協力
989         1      為に対
99         10       によ
990         1      は、理
991         1      なる行
992         1      すいか
993         1      人権及
994         1      び基本
995         1      そのか
996         1      的自由
997         1      の普遍
998         1      的な尊
999         1      意した

[2504 rows x 2 columns]
      freq_ko n-gramas
0         100        의
1          96        한
10         66        자
100        10      를가진
1000        1      교육은
1001        1      된대표
1002        1      결사의
1003        1      이선출
1004        1      무적이
1005        1      자유로
1006        1      접또는
1007        1      람은직
1008        1      참여하
1009        1      결사에
101        10        언
1010        1      도어떤
1011        1      진다어
1012        1      어야한
1013        1      하고얻
1014        1      집회및
1015        1      화적인
1016        1      람은평
1017        1      포함한
1018        1      자유를
1019        1      달하는
102        10      사람은
1020        1      다기술
1021        1      및직업
1022        1      으며전
1023        1      은사회
...       ...      ...
972         1      선거권
973         1      ·평등
974         1      이동일
975         1      육은의
976         1      여자국
977         1      를통하
978         1      야하며
979         1      도정보
98         10        합
980         1      일반적
981         1      으로접
982         1      근이가
983         1      통해서
984         1      매체를
985         1      계없이
986         1      능하여
987         1      경에관
988         1      유와국
989         1      을추구
99         10       대한
990         1      고등교
991         1      가질자
992         1      의견을
993         1      섭없이
994         1      리는간
995         1      진다이
996         1      에게실
997         1      력에근
998         1      거하여
999         1      와사상

[2140 rows x 2 columns]
      freq_pt-BR n-gramas
0           1181        e
1            959        o
10           364        u
100           24      ade
1000           1      sod
1001           1      lap
1002           1      rde
1003           1      ied
1004           1      mhi
1005           1      toc
1006           1      aer
1007           1       úl
1008           1      pót
1009           1      mud
101           24       rt
1010           1      ouo
1011           1      moc
1012           1      iuv
1013           1      em‐
1014           1      dob
1015           1      atê
1016           1      mpú
1017           1      ife
1018           1      ice
1019           1      sae
102           23       io
1020           1      gat
1021           1      úde
1022           1      mqu
1023           1      por
...          ...      ...
972            1      oor
973            1      irc
974            1      dap
975            1      adi
976            1      epl
977            1      luç
978            1      tên
979            1      ává
98            24        z
980            1      erq
981            1      oli
982            1      nhu
983            1      exe
984            1      alg
985            1      óou
986            1      asd
987            1      dao
988            1      amo
989            1      ocu
99            24       no
990            1      lto
991            1      emp
992            1      icu
993            1      eig
994            1      emr
995            1      pin
996            1      nva
997            1      çai
998            1      god
999            1      ênc

[1544 rows x 2 columns]
      freq_zh-Hans n-gramas
0              149        的
1              104        人
10              33        条
100              7        政
1000             1      级和基
1001             1      儿童无
1002             1      少在初
1003             1      免费至
1004             1      育应当
1005             1      权利教
1006             1      都有受
1007             1      十六条
1008             1      会保护
1009             1      样的社
101              7        土
1010             1      享受同
1011             1      生都应
1012             1      或非婚
1013             1      论婚生
1014             1      健康和
1015             1      本人和
1016             1      定他的
1017             1      维持他
1018             1      一个工
1019             1      。㈢每
102              7        领
1020             1      工同酬
1021             1      人有同
1022             1      的保障
1023             1      于失业
...            ...      ...
972              1      失业、
973              1      在遭到
974              1      会服务
975              1      要的社
976              1      疗和必
977              1      房、医
978              1      着、住
979              1      物、衣
98               7        治
980              1      包括食
981              1      活水准
982              1      需的生
983              1      福利所
984              1      别照顾
985              1      和协助
986              1      。一切
987              1      本阶段
988              1      一切人
989              1      绩而对
99               7        鉴
990              1      根据成
991              1      。高等
992              1      遍设立
993              1      育应普
994              1      职业教
995              1      技术和
996              1      性质。
997              1      属义务
998              1      。初级
999              1      应如此

[2368 rows x 2 columns]

<h4>Shows the n-gram models based on the documents in the testing folder</h4>

In [14]:
df_test.head()

,n-gramas,freq_doc,freq_af,freq_de,freq_en,freq_es,freq_hi,freq_it,freq_ja,freq_ko,freq_pt-BR,freq_zh-Hans
0,445,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,391,e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,150,t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,nos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_new=df_test.copy()

<h4>TF-IDF</h4>

In [10]:
coll = list(df_test.columns) 
coll.pop(0)

#Calculating TF-IDF per n-grams on the selected test document and on the documents from training folder
for w in coll:
    df_new[w]=df_test[w]/len(df_test)*np.log10(len(coll)/df_test.count(axis='columns'))

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
df_new.head()

<h4>Function used to calculate the cosine similarity</h4>

In [10]:
#Calculating cosine similarity
def similarity(docA,docB):
    numerator = 0
    docA      = docA.replace(np.nan,0)
    docB      = docB.replace(np.nan,0)
    den_1     = math.sqrt(sum([docA[i]**2 for i in range(0,len(docA))]))
    den_2     = math.sqrt(sum([docB[i]**2 for i in range(0,len(docB))]))
    
    for i in range(0,len(docA)): numerator=numerator+docA[i]*docB[i]
    
    denumerator = den_1*den_2
    if denumerator == 0 : denumerator = 0.0001
    
    return numerator/denumerator

In [11]:
coll.pop(0)
classifier = {}

#Calculating the cosine similarity between 'languageDoc' and the other documents 
for w in coll:
    classifier[w] = similarity(df_new['freq_doc'],df_new[w])

<h4>Shown the results</h4>

In [12]:
print('Doc tested: '+languageDoc)
print('\nClassification by similarity:')

for key, value in sorted(classifier.items(), key=lambda item: item[1], reverse=True):
    print("%s: %s" % (key, value))

Doc tested: pt-BR

Classification by similarity:
freq_pt-BR: 0.9512008768057516
freq_es: 0.9180541189217364
freq_it: 0.8732348939396601
freq_en: 0.8575734253085008
freq_de: 0.7841373356480694
freq_af: 0.7555665053842838
freq_zh-Hans: 0.21549506976710367
freq_hi: 0.0
freq_ja: 0.0
freq_ko: 0.0